*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(0, 0%, 8%);
    font-family: "Inter", serif;
    text-align: center;
}

main{
    height: 66vh;
    width: 350px;
    border: 1px solid hsl(0, 0%, 12%);
    border-radius: 8px;
    background-color: hsl(0, 0%, 12%);
    margin-top: 90px;
    margin-left: 650px;
    padding-top: 15px;
}

img{
 height: 80px;
 border: 1px solid ;
 border-radius: 90px;
}

h2{
    color: hsl(0, 0%, 100%);
    margin-top: 10px;
    font-weight: 700;
}

p:nth-child(3){
    color: hsl(75, 94%, 57%);
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}

p:nth-child(4){
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
    font-size: 14px;
}

.links{
    display: flex;
    flex-direction: column;  
}

.links a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background-color:  hsl(0, 0%, 20%);
    height: 40px;
    width: 300px;
    border: 1px solid hsl(0, 0%, 12%);
    border-radius: 8px;
    margin-top: 15px;
    margin-left: 25px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}

.links a:hover{
    background-color:  hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

a:first-child{
    margin-top: 25px;
}

.attribution{
    margin-top: 20px;
}
